@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Poljana Dragutina Kalea 6<br />
        10 000, Zagreb<br />
        <abbr title="Phone">P:</abbr>
        +385 994175679
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:licitar.domagoj@gmail.com" class="btn btn-info">Moj mail</a><br />
    </address>
</main>