@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Abc Store</h1>
        <p class="lead">Ovo je jednostavna web aplikacija s tablicom Artikli, u kojoj se nalaze razne vrste artikala i u kojoj se može pohraniti novi i obrisati ili 
                        urediti postojeći artikl.</p>
        <p><a href="https://github.com/domac19/AbcStore" class="btn btn-info">Za više informacija kliknite na ovaj link &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">LinkedIn</h2>
            <p>
                Ovdje se nalazi kontakt od mog LinkedIn profila na kojem možete vidjeti neke moje osobne informacije i 
                iskustva.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.linkedin.com/in/domagoj-licitar/"><img src="~/Images/linkedIn.png" width="40" height="40" /></a></p>
        </section>
    </div>
</main>